<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake Fundraiser</title>
</head>
<body>

<h1>Cupcake Fundraiser</h1>

<form action="#" method="post">
  <label for="name">
    Your name:
    <br>
    <input type="text" id="name" placeholder="Please input your name.">
  </label>
  <br>

  <label for="grasshopper"><input type="checkbox" id="grasshopper" name="flavors[]" value="The Grasshopper">The Grasshopper</label>
  <br>
  <label for="maple"><input type="checkbox" id="maple" name="flavors[]" value="Whiskey Maple Bacon">Whiskey Maple Bacon</label>
  <br>
  <label for="carrot"><input type="checkbox" id="carrot" name="flavors[]" value="Carrot Walnut">Carrot Walnut</label>
  <br>
  <label for="caramel"><input type="checkbox" id="caramel" name="flavors[]" value="Salted Caramel Cupcake">Salted Caramel Cupcake</label>
  <br>
  <label for="velvet"><input type="checkbox" id="velvet" name="flavors[]" value="Red Velvet">Red Velvet</label>
  <br>
  <label for="lemon"><input type="checkbox" id="lemon" name="flavors[]" value="Lemon Drop">Lemon Drop</label>
  <br>
  <label for="tiramisu"><input type="checkbox" id="tiramisu" name="flavors[]" value="Tiramisu">Tiramisu</label>
  <br>
  <br>
  <input type="submit" value="Order">

</form>

</body>
</html>